#main-nav {
    transition: all 0.4s;
    background-color: transparent;

    a {
        color: #fff;
        &:hover {
            color: #0ED8D6;
        }

    }
    .cursive {
        font-family: 'Droid Serif', sans-serif;

    }
    &.scrolled {
        background-color: rgba(14, 216, 214, 0.6);
    }

}
